.navv {
    border-style: solid;
    border-width: 0ch;
    border-bottom-width: 0.4ch;
    border-color: #593196;
    font-size: larger;
    position: absolute;
    z-index: 1000;
    position: fixed;
    width: 100%;
}