.hmsc {
    height: 1800px;
    padding-top: 60px;
    text-align: center;
    font-family: 'Trebuchet MS'
}

.hmschd {
    height: 700px;
    position: relative;
    padding: 130px;
    /*box-shadow: 0 0 5px; */
    color: blueviolet;
    background-image: linear-gradient(#593196, #7b5bab);
    font-family: 'Trebuchet MS';
    border-width: 0ch;
}

.hmshd1 {
    display: flex;
    justify-content: space-around;
}

.homeim1 {
    width: 600px;
    height: 500px;
    margin-top: -80px;
    border-radius: 50%;
}

.hmsdhright {
    margin-left: 0px;
}

.hmsdhright h3{
   font-size: 70px;
   margin-bottom: 50px;
   font-weight:100;
   -webkit-text-stroke-color: rgb(255,255,255);
   -webkit-text-stroke-width: 1px;
   -webkit-font-smoothing: antialiased;
}

.homebutt1 {
    margin-left: 20px;
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border-width: 0ch;

   
}

.homebutt1:hover{
    background-color: #593196;
}

.hmsec {
    height: 60px;
    color: white;
    padding-top: 15px;
    background-color: #593196;
    border-width: 0ch;
    /*background-color: darkcyan;*/
}

.hmsec p {
    font-size: large;
}

.hmthird {
    padding-top: 55px;
}

.hmthird p {
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight:100;
    -webkit-text-stroke-color: rgb(255,255,255);
    -webkit-text-stroke-width: 1px;
    -webkit-font-smoothing: antialiased;
}