
.chd {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}

.chd1 {
    display: flex;
}


.chdbutt {
   position: absolute;
   margin-left: 1300px;
   width: 200px;
   border-width: 0ch;
   border-radius: 20px;


}



.chd h4 {
   margin-top: 2px;
}

.chd1im {
    
    margin-left: 20px;
    height: 50px;
    border-width: 0ch;
    border-radius: 50%;
}